<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemplateWorker_Hisham.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TemplateWorker_Hisham.Settings1>
            <setting name="ServerName" serializeAs="String">
                <value>68.178.143.107</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>inscritcaurix</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1434</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>inscritcaurix</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Caurix123!</value>
            </setting>
            <setting name="SenderEmail" serializeAs="String">
                <value>repeaterz@live.ru</value>
            </setting>
            <setting name="ReceiverEmail" serializeAs="String">
                <value>repeaterz@live.ru</value>
            </setting>
        </TemplateWorker_Hisham.Settings1>
    </userSettings>
</configuration>